<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.activitymanage.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.example.activitymanage.model.User">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="wechat_id" jdbcType="INTEGER" property="weChatId" />
    <result column="wechat_name" jdbcType="VARCHAR" property="weChatName" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="address" jdbcType="VARCHAR" property="address" />
  </resultMap>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.example.activitymanage.model.User" useGeneratedKeys="true">
    insert into user (wechat_id, wechat_name, name, 
      phone, email, address
      )
    values (#{weChatId,jdbcType=INTEGER}, #{weChatName,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
      #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, wechat_id, wechat_name, name, phone, email, address
    from user
  </select>
  <select id="selectByUsername" resultType="com.example.activitymanage.model.AuthUser">

  </select>

</mapper>